:root {
  --backgroundColour: #263959;
  --textColour: #e4e7ec;
  --highlightColour: #6d819c;
  --linkColour: #55967e;
  --linkHoverColour: #77b89f;
  --headerBackgroundColour: #6d819c;
  --headerTextColour: #e4e7ec;
}

body {
  margin: 0;
  align-content: center;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: var(--backgroundColour);
  color: var(--textColour);
  overflow-wrap: break-word;
}

header {
  height: 3rem;
  width: 100%;
  line-height: 3rem;
  background-color: var(--backgroundColour);
  opacity: 0.9;
  color: var(--textcolour);
  position: fixed;
  top: 0;
  transition: top 0.4s;
}

header .container {
  position: relative;
}

footer {
  text-align: right;
  padding: 1rem;
}

pre {
  border: 1px solid var(--highlightColour);
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.3rem;
  background-color: var(--backgroundColour);
  overflow-x: auto;
  font-family: monospace;
}

code {
  font-family: monospace;
  background-color: var(--backgroundColour);
}

h2 {
  margin: 0;
}

a { text-decoration: none; color: var(--linkColour); }
a:hover { text-decoration: underline; color: var(--linkHoverColour); }
a:active { text-decoration: underline; color: var(--linkHoverColour); }

header .heading {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 1rem;
}

header .heading a {
  color: var(--textColour);
  text-decoration: none;
}

header .container {
  position: relative;
}
header .container .nav {
  position: absolute;
  right: 0;
}

table {
  border-collapse: collapse;
}
th,td {
  padding: 0.5rem;
  border: 1px var(--highlightColour) solid;
}

ul.nav {
  margin: 0;
}

.nav {
  display: inline-block;
  font-size: 1rem;
  z-index: 5;
  line-height: 1rem;
  padding: 0.75rem 0;
}

.nav-item {
  list-style: none;
  border-bottom: 2px solid var(--backgroundColour);
  display: inline-block;
  padding: 0.25rem 1rem;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: var(--textColour);
}

.nav-item:hover {
  transition: border-bottom .5s ease-in-out;
  border-bottom: 2px solid var(--highlightColour);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70rem;
}
.container .content {
  padding: 1rem;
}
.container p {
  line-height: 1.75rem;
}


.tag {
  border: var(--highlightColour) 1px solid;
  background-color: var(--headerBackgroundColour);
  color: var(--textColour);
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 4px;
  margin: 1px;
  text-align: center;
  min-width: 20px;
}
.tag:hover {
  background-color: var(--backgroundColour);
  color: var(--textColour);
  text-decoration: none;
  transition: 0.5s;
}

.page-content {
  margin-top: 3rem;
}

.page-item {
  display: inline-block;
  text-align: center;
  width: 1rem;
  height: 1rem;
}

.pagination {
  margin-top: 0.5rem;
  padding: 0;
  text-align: center;
}
.pagination li {
  display: inline-block;
}
.pagination ul li a {
  height: 2rem;
  width: 2rem;
}

.site-summary {
  padding: 1rem 1rem 0 1rem;
}

.site-summary p {
  background-color: var(--headerBackgroundColour);
  border: 1px dotted #333;
  border-radius: 5px;
  padding: 1rem;
}

.post-header .container {
  border-bottom: 1px dashed var(--highlightColour);
}
.post-header .content {
  padding: 1rem;
}

.post-summary {
  background-color: var(--backgroundColour);
  padding: 1rem;
  border-bottom: 1px dashed var(--highlightColour);
}
.post-summary .meta {
  text-align: right;
}

.post-header .post-details {
  padding: 0.5rem 0 0 0;
}
.post-header .post-meta-details {
  padding: 0.5rem 0 0 0;
}
.post-header .date {
  display: inline-block;
  text-align: left;
}
.post-header .tags {
  float: right;
}

.tag.disabled {
  background-color: #c0c0c0 !important;
}

.tag-list {
  line-height: 1.5rem;
}

.tag-item {
  padding: 0 0.2rem 0 0.2rem;
}

.link-panel {
  padding: 1rem 0;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 50rem;
  }
}

@media screen and (max-width: 840px) {
  .container {
    width: 35rem;
  }

  header {
    height: 6rem;
  }

  header .container .nav {
    position: inherit;
    right: initial;
    width: 100%;
  }

  .nav-item {
    text-align: center;
    width: calc(100%/5);
    padding: 0.25rem 0;
  }

  .page-content {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(/fonts/AlegreyaSansNormal400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/OpenSansNormal400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}